In [ ]:
salary=int(input("enter the salary"))
hra=salary*(10/100)
print(hra)
DA=salary*(5/100)
print(DA)
Pf=salary*(3/100)
print(Pf)
print(hra+DA+Pf)
if salary < 500000:
    tax_rate = 0
elif salary <= 1000000:
    tax_rate = (10/100)
elif salary <= 2000000:
    tax_rate = (20/100)
else:
    tax_rate = (20/100)

tax = tax_rate * salary
anual_salary=salary-( (hra + DA + Pf+ tax))
monthly_salary=anual_salary/12
print(monthly_salary)

enter the salary500000
50000.0
25000.0
15000.0
90000.0
30000.0

In [ ]:
angel1=int(input("enter the angle 1"))
angel2=int(input("enter the angle 2"))
angel3=int(input("enter the angle 3"))
sum=angel1+angel2+angel3
if sum==180:
  print("this is tringale")
else:
   Print("this is not tringale")

enter the angle 120
enter the angle 280
enter the angle 380
this is tringale

In [ ]:
cost_price=int(input("enter the cost"))
selling_price=int(input("enter the sell price"))
if selling_price>cost_price:
  print("profit")
else:
  print("loss")

enter the cost5000
enter the sell price6000
profit

In [ ]:
while True:
    print("\n Menu ")
    print("1 cm to ft")
    print("2 km to miles")
    print("3 USD to INR")
    print("4 Exit")

    choice = int(input("Enter your choice (1-4): "))
    if choice == 1:
      cm = float(input("Enter length in centimeters: "))
      ft = cm / 30.48
      print(ft)
    elif choice == 2:
      km = float(input("Enter length in kilometers: "))
      miles = km / 0.621371
      print(miles)
    elif choice == 3:
      usd = float(input("Enter length in kilometers: "))
      Inr = usd /85
      print(Inr)
    elif choice == 4:
      break
    else:
      print("enter valid input")

 Menu
1 cm to ft
2 km to miles
3 USD to INR
4 Exit
Enter your choice (1-4): 2
Enter length in kilometers: 2
3.2186889957851266

 Menu
1 cm to ft
2 km to miles
3 USD to INR
4 Exit
Enter your choice (1-4): 4

In [ ]:
"fibonachi"
n = int(input("Enter how many terms: "))

a, b = 0, 1
print("Fibonacci series:")

for i in range(n):
    print(a, end=" ")
    c=a+b
    a=b
    b=c

Enter how many terms: 10
Fibonacci series:
0 1 1 2 3 5 8 13 21 34

In [ ]:
"factori"
n=20
fact=1
for i in range(0,n-1):
  fact=fact*(n-i)
print(fact)

2432902008176640000

In [ ]:
n=76542
reverse=0
while n>0:
  m=n%10
  reverse=reverse*10+m
  n=n//10
print(reverse)

24567

In [ ]:
n = int(input("Enter the number: "))
i = 1
sum = 0

while i <= n:
    if i % 5 == 0:
        i += 1
        continue

    if sum +i> 300:
        break
    sum += i
    i += 1
print(sum)

Enter the number: 30
276

In [ ]:
n=1
i=0
sum=0
while n!=0:
  n = int(input("Enter the number: "))
  sum+=n
print(sum)

Enter the number: 66
Enter the number: 44
Enter the number: 0
110

In [ ]:
pairs = [(i, j) for i in range(1, 4) for j in range(1, 4)]
for pair in pairs:
    print(pair[0], pair[1])

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
result=[]
for num in range(2000,3200):
  if num%7==0 and num %5!=0:
    result.append(num)

print(result)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [ ]:
result=[]
for num in range(1000,3000):
  num=str(num)
  even_digits=True
  for d in num:
      if int(d)%2!=0:
        even_digits=False
  if even_digits:
      result.append(num)

print(result)

['2000', '2002', '2004', '2006', '2008', '2020', '2022', '2024', '2026', '2028', '2040', '2042', '2044', '2046', '2048', '2060', '2062', '2064', '2066', '2068', '2080', '2082', '2084', '2086', '2088', '2200', '2202', '2204', '2206', '2208', '2220', '2222', '2224', '2226', '2228', '2240', '2242', '2244', '2246', '2248', '2260', '2262', '2264', '2266', '2268', '2280', '2282', '2284', '2286', '2288', '2400', '2402', '2404', '2406', '2408', '2420', '2422', '2424', '2426', '2428', '2440', '2442', '2444', '2446', '2448', '2460', '2462', '2464', '2466', '2468', '2480', '2482', '2484', '2486', '2488', '2600', '2602', '2604', '2606', '2608', '2620', '2622', '2624', '2626', '2628', '2640', '2642', '2644', '2646', '2648', '2660', '2662', '2664', '2666', '2668', '2680', '2682', '2684', '2686', '2688', '2800', '2802', '2804', '2806', '2808', '2820', '2822', '2824', '2826', '2828', '2840', '2842', '2844', '2846', '2848', '2860', '2862', '2864', '2866', '2868', '2880', '2882', '2884', '2886', '2888']

In [ ]:
mylist = []
temp = ""
s = "i am going to puri"
for i in s:
    if i != " ":
        temp += i
    else:
        mylist.append(temp)
        temp = ""
if temp:
    mylist.append(temp)
print(mylist)

['i', 'am', 'going', 'to', 'puri']

In [ ]:
name="Asin vijay"
name2=""
for i in range(0,len(name)):
  if name[i]!="v":
     name2+=name[i]
print(name2)

Asin ijay

In [ ]:
a = "asinee"
for char in a:
    print(char)
    if char != "e":
        print("Not 'e':", char)

a
Not 'e': a
s
Not 'e': s
i
Not 'e': i
n
Not 'e': n
e
e

In [ ]:
x = 123
s = f"{x}"
print(s, type(s))

123 <class 'str'>

In [ ]:
x = 123
s = "%s" % x
print(s, type(s))  # Ou

123 <class 'str'>

In [ ]:
digits="0123456789"
num=int(input("enter the number"))
result=""
while num!=0:
  index=num%10
  result=digits[index]+result
  num=num//10
reversed_result = result[::-1]
print(reversed_result)
print(result)
type(result)

enter the number520
025
520

str

In [ ]:
import math
x=0
y=0
up = int(input("Enter steps moved UP: "))
down = int(input("Enter steps moved DOWN: "))
left = int(input("Enter steps moved LEFT: "))
right = int(input("Enter steps moved RIGHT: "))
x+=left
x-=right
y+=up
y-=down
distance=math.sqrt(x**2+y**2)
print(int(distance))

Enter steps moved UP: 5
Enter steps moved DOWN: 3
Enter steps moved LEFT: 3
Enter steps moved RIGHT: 2
2

In [ ]:
hour=9
minute=0
hour_angle=30*hour+0.5*minute
minute_angle=6*minute
#angle between them
angle=hour_angle-minute_angle
f_angle=min(angle,360-angle)
print(int(f_angle))

90

In [ ]:
text = "hello world"
words = text.split()
# Split the text into words
capitalized_words = [word.capitalize() for word in words]
# Capitalize each word
final_text = ' '.join(capitalized_words)
# Join the words back together
print(final_text)

Hello World

In [ ]:
text = "hello world"
capitalized_text = text.title()
print(capitalized_text)

Hello World

In [ ]:
s="asin vijay"
s.isalpha()

False